/* MATERIAL DARK */

:root {
    --primary: #fff;
    --pr-ts: rgba(255,255,255,0.7);
    --bg: #001520;
    --card: #00253b;
    --highlight: #005D94;
    --clicked: #174561;
}

::-webkit-scrollbar { 
    display: none; 
}

html {
    background: var(--bg);
    text-align: center;
}

body {
    margin: 0;
    padding-top: 20px;
    text-align: center;
    max-width: 100%;
}

div.cover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

div.center {
    display: inline-block;
    text-align: center;
}

h1 {
    color: var(--primary);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 56px;
    font-weight: 200;
    padding-left: 50px;
    padding-right: 50px;
}

div.container {
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: auto;
}

h2 {
    font-family: Roboto;
    font-weight: 400;
    margin-left: 10px;
}

a.text {
    color: var(--pr-ts);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-left: 10px;
    cursor: default;
}

a.cardlink {
    background: var(--card);
    float: inherit;
    margin: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 3px;
    cursor: default;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    display: inline-block;
    transition: 0.1s;
    
    color: var(--primary);
    font-family: Roboto;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
}

a.cardlink:hover {
    background: var(--highlight);
}

a.cardlink:active {
    background: var(--clicked);
}

@media only screen and (max-width: 768px) {
    .container {
        margin-left: 16px;
        margin-right: 16px;
        padding-bottom: 20px;
    }
}